
    <h1>{{ t(imprint)|trans }}</h1>
    <p>
        Schwarz Dienstleistung KG<br>
        Stiftsbergstraße 1<br>
        74172  Neckarsulm<br>
        Sitz: Neckarsulm<br>
        Amtsgericht Stuttgart: HRA 105009<br>
        USt-IdNr.: DE814754232<br>
    </p>

{{ locale }}