{% extends 'base.html.twig' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{{ t(pageTitel) }} ({{ imprintEntity.locale }})</h1>
        </div>
        <div class="panel-body">
            {{ imprintEntity.content | raw }}
        </div>
    </div>
{% endblock %}