<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <ul>
                <li>
                    <a href="{{ path('home') }}">
                        {{ t('homeFooterLabel')|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('imprint_standard', { _locale:  currentLocale }) }}">
                        {{ t('imprintFooterLabel')|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>