{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-6">
        <h1>Admin</h1>

        <ul>
            <li><a href="{{ path('admin_portal') }}">Portal</a></li>
        </ul>
    </div>
{% endblock  %}